$color-black:    #000000; // L = 0
$color-white:    #ffffff; // L = 100

$color-gray-100: #161616; // L = 7
$color-gray-90:  #262626; // L = 15
$color-gray-80:  #393939; // L = 24
$color-gray-70:  #525252; // L = 35
$color-gray-60:  #6f6f6f; // L = 47
$color-gray-50:  #8d8d8d; // L = 59
$color-gray-40:  #a8a8a8; // L = 69
$color-gray-30:  #c6c6c6; // L = 80
$color-gray-20:  #e0e0e0; // L = 89
$color-gray-10:  #f4f4f4; // L = 96

$color-brand: #800033;
