/node_modules
/public/hot
/storage
/public/storage
/storage/debugbar/*
/storage/*.key
/vendor
/.idea
/.vagrant
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.dusk.local
yarn.lock
package-lock.json
/public/js
/public/mix-manifest.json
/public/firebase-messaging-sw.js
/public/sw-assets
/public/css
/public/fonts
/public/undefined.js
/public/images/*
/public/photos/*
