.flex-grow
  flex: 1

#weather-app
  background: no-repeat center url("/../../images/map-seznam-3D-lubno.jpg")
  background-size: cover
  min-height: 100vh

  header nav
    background: $navbar-default-bg !important

  .content
    padding-top: 40px


