// Struct

.overviewItem {
    display: flex;
    background-color: $color-body-light;
    padding: $vertical-spacing-half $horizontal-spacing-half;
    border-radius: $border-radius / 2;

    > * + * {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: #d8d8d8;
        }
    }

    .overview > & + & {
        margin-top: 4px;
    }
}

.overviewItem__value {
    flex: 1;
    text-align: center;
    font-size: $typography-small;
}

.overviewItem__value--time {
    text-align: left;
    font-weight: bold;
}

.overviewItem__unit {
    margin-left: .5ch;
    font-size: $typography-xsmall;
}

// Skin

.overviewItem {
    > * + * {
        &::before {
            background-color: #d8d8d8;
        }
    }
}
