// Struct

.overviewItem {
    flex: 1;
    padding: $vertical-spacing-half $horizontal-spacing-half;
    border-radius: $border-radius;
    background-color: $color-white;
    box-shadow: 0 3px 6px rgba($color-black, .12);
    text-align: center;

    & + & {
        margin-left: $horizontal-spacing;
    }

    > * + * {
        margin-top: $vertical-spacing;
    }
}

.overviewItem__value {
    font-family: $font-family-serif;
    font-size: 32px;
}

.overviewItem__unit {
    font-family: $font-family-serif;
    font-size: 12px;
}

.overviewItem__label {
    font-size: 14px;
}

// Skin

.overviewItem__label {
    color: gray;
}
