// Config

$logo-size: 32px;

// Struct

.header {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: $vertical-spacing-half;
    padding-bottom: $vertical-spacing-half;
}

.header__logo {
    flex: none;
    width: $logo-size;
    height: $logo-size;
    margin-right: $horizontal-spacing;
}

.header__name {
    margin-top: -2px; // visual alignment
    font-family: $font-family-serif;
    font-size: 14px;
}

// Skin
