.u-p-r {
    position: relative;
}

.u-d-f {
    display: flex;
}

.u-ai-c {
    align-items: center;
}

.u-f-a {
    flex: auto;
}

.u-f-n {
    flex: none;
}

.u-jc-sb {
    justify-content: space-between;
}

.u-jc-c {
    justify-content: space-evenly;
}


.u-ml-a {
    margin-left: auto;
}

.u-ml-05 {
    margin-left: $horizontal-spacing-half;
}

.u-ml-1 {
    margin-left: $horizontal-spacing;
}

.u-ml-2 {
    margin-left: $horizontal-spacing-double;
}

.u-ml-2 {
    margin-left: $horizontal-spacing-double;
}

.u-mr-a {
    margin-right: auto;
}

.u-mr-05 {
    margin-right: $horizontal-spacing-half;
}

.u-mr-1 {
    margin-right: $horizontal-spacing;
}

.u-mr-2 {
    margin-right: $horizontal-spacing-double;
}

.u-mt-05 {
    margin-top: $vertical-spacing-half;
}

.u-mt-1 {
    margin-top: $vertical-spacing;
}

.u-mt-2 {
    margin-top: $vertical-spacing-double;
}

.u-mb-05 {
    margin-bottom: $vertical-spacing-half;
}

.u-mb-1 {
    margin-bottom: $vertical-spacing;
}

.u-mb-2 {
    margin-bottom: $vertical-spacing-double;
}

.u-vsp-05 {
    & > * + * {
        margin-top: $vertical-spacing-half;
    }
}

.u-vsp-1 {
    & > * + * {
        margin-top: $vertical-spacing;
    }
}

.u-vsp-2 {
    & > * + * {
        margin-top: $vertical-spacing-double;
    }
}