.u-d-f {
    display: flex;
}

.u-jc-sb {
    justify-content: space-between;
}

.u-jc-se {
    justify-content: space-evenly;
}

.u-ai-b {
    align-items: baseline;
}

.u-ta-c {
    text-align: center;
}


.u-mb-1 {
    margin-bottom: $vertical-spacing;
}

.u-hsp-05 {
    & > * + * {
        margin-left: $horizontal-spacing-half;
    }
}