// Config

$image-label-height: 24px;

// Struct

.gallery {
    display: grid;
    grid-gap: $horizontal-spacing;
    // https://uxdesign.cc/creating-horizontal-scrolling-containers-the-right-way-css-grid-c256f64fc585
    grid-template-columns: $horizontal-spacing;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 6 * #{$horizontal-spacing}) / 3);
    grid-template-rows: min-content;
    overflow-x: scroll;
    scroll-snap-type: x proximity;

    &::before,
    &::after {
        content: '';
        width: $horizontal-spacing;
    }

    @media (min-width: $breakpoint-sm) {
        grid-auto-columns: calc((100% - 7 * #{$horizontal-spacing}) / 4);
    }

    @media (min-width: $breakpoint-md) {
        grid-auto-columns: 120px;
    }
}

.gallery__item {
    position: relative;
}

.gallery__image {
    height: calc((100vw - 6 * #{$horizontal-spacing}) / 3);
    border-radius: $border-radius;
    object-fit: cover;

    @media (min-width: $breakpoint-sm) {
        height: calc((100vw - 7 * #{$horizontal-spacing}) / 4);
    }

    @media (min-width: $breakpoint-md) {
        height: 120px;
    }
}

.gallery__label {
    margin-top: $vertical-spacing-half;
    font-size: 14px;
}

// Skin

.gallery__label {
    color: gray;
}