.alert
  border: 1px solid transparent
  border-radius: 0rem
  color: #fff

.alert-primary
  background-color: #355679
  text-transform: uppercase

.alert-success
  background-color: transparentize(#04b300, 0.34)

.alert-warning
  background-color: transparentize(#ff7e00, 0.34)

.alert-danger
  background-color: transparentize(#34184a, 0.34)