// Config

$sidebar-width: 360px;

// Struct

.layout {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "gallery"
        "overview"
        "footer";

    @media (min-width: $breakpoint-md) {
        height: 100vh;
        grid-template-columns: $sidebar-width 1fr;
        grid-template-rows: max-content 1fr max-content max-content;
        grid-template-areas:
            "header locality"
            "overview locality"
            "overview gallery"
            "overview footer";
    }
}

.layout__header {
    grid-area: header;
}

.layout__main {
    grid-area: main;
    padding-top: $vertical-spacing;
    padding-bottom: $vertical-spacing;
    border-radius: $border-radius-big;
}

.layout__overview {
    grid-area: overview;
}

.layout__gallery {
    grid-area: gallery;
    align-self: end;
    border-radius: $border-radius * 3 $border-radius * 3 0 0;

    @media (min-width: $breakpoint-md) {
        overflow: hidden;
    }
}

.layout__footer {
    grid-area: footer;
}

// Skin

.layout__main {
    background-color: $color-white;
    box-shadow: 0 6px 24px rgba($color-black, .12);
}

.layout__gallery {
    background-color: $color-gray-10;
}
