.temperature-status
  background-color: #0e263f

  .color-cold
    color: #6e96f2

  .color-warm
    color: #00ffb4

  .color-hot
    color: #e45f2b

.temperature-main
  background: url("../../images/footer/temperature.svg") no-repeat top 1rem right 2rem
  background-size: 1.5rem